*{
	margin:0;
	padding: 0;
}
.container{
  max-width: 1440px;
  margin: auto;
  padding: 0 25px;
}

.majuscule{
  text-transform: uppercase;
}

.text-center{
  text-align: center
}

.img-adapte{
  width: 100%;
  height: inherit;
}

.text-droite{
  text-align: right
}
.bold{
  font-weight: bolder;
}

header{
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.26);
  box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.26);

}

header .container{
  background: #fff;
  color: #231f20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border-bottom:  1px solid*/
}

.menu ul {
  background: #fff;
  display: flex;
  list-style:none;
}

.menu li {
  display: block;
  padding: 25px 10px;
  color: #231f20;
  text-decoration: none;
  font-size: 14px
}

.bloc-logo-nav a > img{
  width: 100%;
}
.bloc-logo-nav{
    width: 350px;
    margin: 10px 0 5px;
}

.logo-desktop{
  display: inline;
}

.logo-tablette{
  display: none
}

.logo-mobile{
  display: none;
}


.spacer{
  height: 66px
}