/*@import url('header.css');
@import url('footer.css');
@import url('home.css');
@import url('about.css');
@import url('cours.css');
@import url('actu.css');
@import url('event.css');
@import url('galerie.css');
@import url('partner.css');
@import url('contact.css');
@import url('login.css');
@import url('navbar.css');

.align{
  text-align: center;
}

.img_vignette{
  width:50%;
}

.block_title{
  margin: 15% 25% 0 15%;
}
*/

@import url('navbar.css');
table{
	margin:auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
   	padding: 10px

}

.img_actu{
	width: 100px
}

.titre_actu{
	width: 100px;
}

.description_actu{
	width: 800px
}