h1{
	margin-bottom:50px;
}

.table-actu{
	width: 95%
}
.table-actu tbody .description_actu{
	min-width: 700px;
	text-align: left;
}

.form-actu{
	padding: 20px 0;
	display: flex;
	justify-content: center;
	flex-flow: column;
	width: 500px;
	margin:auto;
}

.form-actu input, textarea{
	
	padding: 10px;
	margin: 0 0 10px;
	resize: none;
	border: 1px solid #cecece
}

.form-actu label{
	padding: 0 10px 5px;
}

.btn-form-bloc{
	display: inline-block;
	text-align: right
}



.form-actu .btn-submit, .form-actu .btn-reset{
	min-width: 100px;
	margin-left: 20px
}

.form-actu .edit-actu-img-bloc{
	width: 50%;
	border: 1px solid;
	margin:10px auto;

}
.form-actu .edit-actu-img-bloc img{
	width: 100%
}

.form-actu .btn-oui, .form-actu .btn-non{
	margin: 10px auto;
	max-width: 200px;
	min-width: 100px;
	transition: all 0.3s;
}

.form-actu .btn-oui:hover, .form-actu .btn-non:hover{
	color: #fff;
	background-color: #CB3B4D;
}