
@import url('navbar.css');
@import url('actu.css');
@import url('partner.css');


.align{
  text-align: center;
}

.img_vignette{
  width:50%;
}

.block_title{
  margin: 30px;
}

i{
  color: #CB3B4D
}

main{
  min-height: 100vh;
  background-image: url(../img/mascotte_planete_manga.png);
  background-position: center;
  background-repeat: no-repeat;

}
table{
	margin:auto;
  width: 95%

}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
   	padding: 10px

}

table .description-table{
  text-align: left
}


table .img_table{
  width: 100px
}

table .titre_table{
  width: 100px;
}

.bloc-btn-creation{
  margin-bottom: 30px;
  text-align:center;
}

.btn-creation{
  text-decoration: none
}